.user-avatar {
  width: 120px;
  height: 120px;
  border-radius: 999px;
  object-fit: cover;
  background: #2f6bff; /* aro azul del mockup */
  padding: 6px;        /* margen para simular aro */
}

.user-avatar-lg {
  width: 280px;
  height: 280px;
  border-radius: 999px;
  object-fit: cover;
  background: #2f6bff;
  padding: 10px;
}

.card { border: 1px solid #e9ecef; }
.navbar .nav-link.active { color: #d63384; } /* rosa del mockup si quieres */