<div class="container py-4">
  <h4 class="mb-4">{{ mode === 'create' ? 'NUEVO USUARIO' : 'EDITAR USUARIO' }}</h4>

  <form [formGroup]="form" (ngSubmit)="submit()" class="vstack gap-3">
    <div>
      <label class="form-label">Nombre Usuario</label>
      <input type="text" class="form-control" formControlName="first_name">
      @if (form.get('first_name')?.touched && form.get('first_name')?.invalid) {
        <div class="form-text text-danger">
          Introduzca nombre de usuario
        </div>
      }
    </div>

    <div>
      <label class="form-label">Apellido Usuario</label>
      <input type="text" class="form-control" formControlName="last_name">
      @if (form.get('last_name')?.touched && form.get('last_name')?.invalid) {
        <div class="form-text text-danger">
          Introduzca apellido de usuario
        </div>
      }
    </div>

    <div>
      <label class="form-label">Email Usuario</label>
      <input type="email" class="form-control" formControlName="email">
      @if (form.get('email')?.touched && form.get('email')?.invalid) {
        <div class="form-text text-danger">
          Email inválido
        </div>
      }
    </div>

    <div>
      <label class="form-label">Imagen Usuario</label>
      <input type="text" class="form-control" formControlName="image">
      @if (form.get('image')?.touched && form.get('image')?.invalid) {
        <div class="form-text text-danger">
          Introduzca una imagen
        </div>
      }
    </div>


    <div class="mt-2">
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
        {{ mode === 'create' ? 'Guardar' : 'Actualizar' }}
      </button>
      <a class="btn btn-secondary ms-2" [routerLink]="['/home']">Cancelar</a>
    </div>
  </form>
</div>
